* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: #f0f0f0;
  background-color: #f0f0f0;
}

::selection {
  background: #ffff00;
}
.featured::-moz-selection{
  background: Transparent;
}
::-moz-selection {
  background: #ffff00;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.titles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
}

.title {
  position: fixed;
  display: inline-block;
  white-space: nowrap;
}

.img-counter {
  position: fixed;
  top: 70%;
  left: 79%;
  font-family: 'Helvetica', Helvetica;
  font-size: 1em;
  color: #060606;
  font-weight: 600;

}

#label1 {
  left:15%;
  top: 37%;
  vertical-align: text-top;
}
#label2 {
  left:115%;
  top: 37%;
  vertical-align: text-top;
}
#label3 {
  left:215%;
  top: 37%;
  vertical-align: text-top;
}

.black-line {
  position: fixed;
  left: 45%;
  top: 35%;
  height: 10px;
  width: 156px;
  background-color: #060606;
}

.line1 {
  font-family: 'Helvetica', Helvetica;
  font-size: 4em;
  color: #060606;
  font-weight: 600;
  display: inline-block;
  padding-top: 15%;
}

.line1 p{
  display: inline;
}

.ya_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


/* line 192, ../sass/56.scss */
.ya_logo {
  font-family: "Helvetica-Neue-Bold", "Helvetica Neue Bold", "HelveticaNeueBold", Helvetica-Neue, HelveticaNeue, "Helvetica", Helvetica, "Arial", Arial, sans-serif;
  font-weight: 600;
  position: fixed;
  font-size: 2em;
  color: #030303;
  z-index: 565656;
  top: 1em;
  left: 2.4em;
  display: inline-block;
}

/* line 203, ../sass/56.scss */
.ya_logo-img img {
  width: 85px;
  height: auto;
}

/* line 208, ../sass/56.scss */
.pf_link_div {
  font-family: "Andale Mono", "AndaleMono", Andale-Mono, AndaleMono, monospace;
  font-size: 0.8em;
  color: #030303;
  z-index: 565656;
  top: 4em;
  right: 4em;
  position: fixed;
  display: inline-block;
  letter-spacing: 0.1em;
}

/* line 219, ../sass/56.scss */
.nav-links {
  margin: 1.5em;
  padding-top: 2px;
  padding-bottom:2px;
  padding-left:7px;
  padding-right:7px;
}

/* line 224, ../sass/56.scss */
.pf_link_div > a:hover {
  background-color: #030303;
  color: #fff;
}

/* line 229, ../sass/56.scss */
.social_links_div {
  font-family: "Andale Mono", "AndaleMono", Andale-Mono, AndaleMono, monospace;
  font-size: 0.8em;
  color: #030303;
  z-index: 565656;
  bottom: 4em;
  left: 0;
  position: fixed;
  width: 100%;
  letter-spacing: 0.1em;
  z-index: 565656;
  display: inline-block;
}

/* line 240, ../sass/56.scss */
.social_links_div > center > a:hover {
  background-color: #030303;
  color: #fff;
  padding-top: 2px;
  padding-bottom:2px;
  padding-left:7px;
  padding-right:7px;
}

/* line 245, ../sass/56.scss */
.social-links {
  margin: 2em;
  padding-top: 2px;
  padding-bottom:2px;
  padding-left:7px;
  padding-right:7px;
}

/* line 250, ../sass/56.scss */
.next {
  font-family: "Andale Mono", "AndaleMono", Andale-Mono, AndaleMono, monospace;
  font-size: 0.9em;
  color: #030303;
  position: fixed;
  right: 25px;
  letter-spacing: 0.1em;
  z-index: 565656;
  top: 50%;
  transform: rotate(90deg);
  cursor: pointer;
}
/* line 260, ../sass/56.scss */
.prev {
  font-family: "Andale Mono", "AndaleMono", Andale-Mono, AndaleMono, monospace;
  font-size: 0.9em;
  color: #030303;
  position: fixed;
  left: 0px;
  top: 50%;
  letter-spacing: 0.1em;
  z-index: 565656;
  transform: rotate(270deg);
  cursor: pointer;
}

/* line 275, ../sass/56.scss */
.projects {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "Andale Mono", "AndaleMono", Andale-Mono, AndaleMono, monospace;
  color: #030303;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 287, ../sass/56.scss */
.header {
  font-family: "Helvetica-Neue-Bold", "Helvetica Neue Bold", "HelveticaNeueBold", Helvetica-Neue, HelveticaNeue, "Helvetica", Helvetica, "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 5.6em;
  color: #030303;
  z-index: 56;
  margin-bottom: 20px;
}

/* line 296, ../sass/56.scss */
.project-list {
  line-height: 2em;
  letter-spacing: 0.1em;
  padding-bottom: 5%;
  font-size: 1em;
}

/* line 302, ../sass/56.scss */
.project-list > center > a:hover {
  background-color: #030303;
}

/* line 306, ../sass/56.scss */
.project-links {
  margin: 1em;
  font-size: 1em;
  padding-top: 2px;
  padding-bottom:2px;
  padding-left:6px;
  padding-right:6px;
  text-transform:uppercase;
}

/* line 312, ../sass/56.scss */
.reverse {
  color: #fff;
}

/* line 316, ../sass/56.scss */
.reverse-img img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}





@media (max-width:600px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .line1{
    font-size: 30px;
    padding-top: 50%;
    margin-left: -10%;
    }
    .ya_logo{
    padding-top: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    }
    
    .black-line{
    margin-top: 60%;

    }
    
}


.main {
  position: fixed;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%; 
}

@media screen and (min-width : 1500px) {
    .line1{
    padding-top: 40%;
    }
}

